.lazy {
  opacity: 0;
  transform: translateY(50px); }

.lazy-off {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out; }

.hover-eff {
  transition: transform 0.5s ease-in-out; }

a:hover img.hover-eff {
  transform: scale(1.1); }

@font-face {
  font-family: Poppins-Light;
  src: url("../font/Poppins-Light.woff");
  src: url("../font/Poppins-Light.woff") format("woff"); }

@font-face {
  font-family: Poppins-Regular;
  src: url("../font/Poppins-Regular.woff");
  src: url("../font/Poppins-Regular.woff") format("woff"); }

@font-face {
  font-family: Poppins-Medium;
  src: url("../font/Poppins-Medium.woff");
  src: url("../font/Poppins-Medium.woff") format("woff"); }

@font-face {
  font-family: Poppins-SemiBold;
  src: url("../font/Poppins-SemiBold.woff");
  src: url("../font/Poppins-SemiBold.woff") format("woff"); }

@font-face {
  font-family: Poppins-Bold;
  src: url("../font/Poppins-Bold.woff");
  src: url("../font/Poppins-Bold.woff") format("woff"); }

*,
::before,
::after {
  box-sizing: border-box; }

html {
  font-size: 10px; }

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select,
a {
  margin: 0;
  padding: 0; }

body,
table,
input,
textarea,
button,
select {
  font-family: Poppins-Regular, serif;
  font-size: 1em;
  line-height: normal;
  color: #000000; }

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

img,
fieldset,
button {
  border: 0; }

input,
textarea,
img {
  vertical-align: top; }

button {
  cursor: pointer;
  background: 0; }

textarea {
  overflow: auto;
  resize: none;
  border: 0; }

strong {
  font-weight: normal; }

input {
  border: none;
  outline: none; }

input[type='text'],
input[type='password'],
input[type='number'],
input[type='tel'] {
  position: relative;
  width: 100%;
  font-size: 1rem;
  font-family: Poppins-Regular, serif;
  color: inherit; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  font-size: inherit; }

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; }

ul,
ol {
  list-style: none; }

em,
address {
  font-style: normal; }

a {
  outline: none;
  text-decoration: none;
  color: #000000; }
  a:hover, a:active, a:focus {
    text-decoration: none; }

hr,
caption,
legend {
  display: none; }

.lazy {
  opacity: 0;
  transform: translateY(50px); }

.lazy-off {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out; }

.hover-eff {
  transition: transform 0.5s ease-in-out; }

a:hover img.hover-eff {
  transform: scale(1.1); }

#wrap {
  overflow: hidden;
  position: relative; }

#main-header {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;
  height: 80px;
  background-color: #020A27; }
  #main-header .main-header-mask {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(2, 10, 39, 0.7); }
  #main-header h1 {
    position: relative;
    width: 127px;
    height: 24px;
    margin: auto 80px auto 0;
    background: url("../images/logo.png");
    background-size: cover;
    font-size: 0 !important;
    color: rgba(0, 0, 0, 0) !important; }
  #main-header > ul {
    display: flex;
    position: relative; }
    #main-header > ul > li {
      margin-right: 85px; }
      #main-header > ul > li:last-child {
        margin-right: 0; }
      #main-header > ul > li.depth {
        position: relative;
        padding-right: 24px;
        background: url("../images/bu_gnb_dropdown.png") 100% 50% no-repeat; }
        #main-header > ul > li.depth.focus {
          background-image: url("../images/bu_gnb_dropdown_focus.png"); }
        #main-header > ul > li.depth ul {
          display: none;
          align-items: center;
          position: absolute;
          top: 80px;
          left: 0;
          white-space: pre; }
        #main-header > ul > li.depth li {
          height: 50px;
          margin-right: 40px; }
          #main-header > ul > li.depth li:last-child {
            margin-right: 0; }
          #main-header > ul > li.depth li.focus a {
            font-family: Poppins-Medium, serif; }
        #main-header > ul > li.depth:hover ul {
          display: flex; }
  #main-header a {
    display: flex;
    align-items: center;
    height: 100%;
    color: #C2C1C0;
    font-family: Poppins-Light, serif;
    font-size: 16px; }
  #main-header .focus > a {
    font-family: Poppins-SemiBold, serif;
    color: #4ac8f5; }

#contents {
  position: relative; }

footer {
  display: flex;
  justify-content: center;
  padding: 130px 0 120px;
  color: #fff;
  background-color: #020A27; }
  footer a {
    color: #fff; }
  footer > dl {
    margin-right: 85px; }
    footer > dl:last-child {
      margin-right: 0; }
    footer > dl dt {
      margin-bottom: 12px;
      font-family: Poppins-SemiBold, serif;
      font-size: 1.8rem;
      color: #4ac8f5; }
    footer > dl dd {
      margin-bottom: 20px;
      font-family: Poppins-Medium, serif;
      font-size: 14px; }
      footer > dl dd:last-child {
        margin-bottom: 0; }
      footer > dl dd em {
        font-family: Poppins-Bold, serif; }
  footer .footer-contact {
    position: relative;
    margin-left: 120px;
    text-align: right; }
    footer .footer-contact dl {
      margin-top: 50px; }
    footer .footer-contact dt {
      margin-bottom: 8px;
      font-family: Poppins-SemiBold, serif;
      font-size: 1.8rem;
      color: #4ac8f5; }
    footer .footer-contact dd {
      margin-bottom: 10px;
      font-size: 16px;
      font-family: Poppins-Medium, serif; }
      footer .footer-contact dd:last-child {
        margin-top: 40px;
        font-size: 13px;
        font-family: Poppins-Light, serif; }

.position-top {
  position: absolute;
  bottom: 80px;
  right: 50%;
  width: 70px;
  height: 83px;
  margin-right: -650px;
  font-size: 0 !important;
  color: rgba(0, 0, 0, 0) !important;
  background-image: url("../images/btn_top.png"); }

.lazy {
  opacity: 0;
  transform: translateY(50px); }

.lazy-off {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out; }

.hover-eff {
  transition: transform 0.5s ease-in-out; }

a:hover img.hover-eff {
  transform: scale(1.1); }

.banner-home {
  position: relative;
  color: #fff;
  background: #010822 url("../images/banner-home.png") 50% 50% no-repeat; }
  .banner-home > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 728px; }
  .banner-home h2 {
    margin-bottom: 30px;
    font-family: Poppins-Medium, serif;
    line-height: 1;
    font-size: 4.8rem; }
  .banner-home p {
    margin-bottom: 75px;
    font-family: Poppins-Light, serif;
    text-align: center;
    line-height: 2;
    font-size: 1.8rem; }
  .banner-home a {
    display: inline-block;
    text-align: center;
    padding-bottom: 5px;
    width: 112px;
    color: inherit;
    border-bottom: 1px solid #42d9fb;
    font-family: Poppins-Bold, serif;
    font-size: 1.3rem; }

.home-partners {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  margin-bottom: 110px;
  background-color: #f8fafc; }
  .home-partners h3 {
    margin-bottom: 100px;
    font-size: 2.2rem;
    font-family: Poppins-SemiBold, serif; }
  .home-partners ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 930px;
    margin-bottom: 120px; }
    .home-partners ul:last-child {
      margin-bottom: 0; }

.home-service {
  position: relative;
  padding: 0 0 160px;
  text-align: center; }
  .home-service div:first-child {
    padding-top: 140px;
    background: url("../images/bg_home_service.png") 50% 0 no-repeat; }
  .home-service h4 {
    margin-bottom: 70px;
    font-size: 4.2rem;
    font-family: Poppins-SemiBold, serif; }

.list-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .list-service dl {
    width: 280px;
    padding-top: 160px;
    background-repeat: no-repeat;
    background-position-x: 50%; }
    .list-service dl:last-child {
      margin-right: 0; }
    .list-service dl:nth-of-type(1) {
      background-position-y: 0;
      background-image: url("../images/ic-home-service1.png"); }
    .list-service dl:nth-of-type(2) {
      background-position-y: 0;
      background-image: url("../images/ic-home-service2.png"); }
    .list-service dl:nth-of-type(3) {
      background-position-y: 0;
      background-image: url("../images/ic-home-service3.png"); }
    .list-service dl:nth-of-type(4) {
      background-position-y: 25px;
      background-image: url("../images/ic-home-service4.png"); }
  .list-service dt {
    font-size: 2.2rem;
    font-family: Poppins-SemiBold, serif; }
  .list-service dd {
    margin-top: 18px;
    font-size: 1.6rem; }

.home-work {
  position: relative;
  background-color: #212a50; }
  .home-work-inner {
    overflow: hidden;
    position: relative;
    width: 1200px;
    height: 675px;
    padding-top: 120px;
    margin: 0 auto; }
    .home-work-inner > div {
      display: flex;
      position: relative;
      width: 1164px;
      transform: translateX(0); }
  .home-work .banner-swipe {
    position: absolute;
    top: 50px;
    width: 22px;
    height: 25px;
    background-image: url("../images/ic-arrow-scroll.png");
    background-size: cover;
    font-size: 0 !important;
    color: rgba(0, 0, 0, 0) !important; }
    .home-work .banner-swipe.left {
      left: 0; }
    .home-work .banner-swipe.right {
      left: 65px;
      transform: rotate(180deg); }
  .home-work dl {
    position: relative;
    width: 338px;
    margin-right: 75px;
    color: #fff; }
  .home-work dt {
    margin-bottom: 12px;
    font-family: Poppins-SemiBold, serif; }
    .home-work dt .home-work-thumb {
      overflow: hidden;
      width: 338px;
      height: 412px;
      margin-bottom: 12px; }
  .home-work dd {
    font-size: 1.4rem; }

.home-solutions {
  position: relative;
  padding: 110px 0;
  text-align: center; }
  .home-solutions h2 {
    margin-bottom: 120px;
    font-family: Poppins-SemiBold, serif;
    font-size: 6rem; }
  .home-solutions h3 {
    margin-bottom: 30px;
    font-family: Poppins-SemiBold, serif;
    font-size: 2.2rem; }
  .home-solutions p {
    line-height: 2;
    font-size: 1.8rem; }

.list-solutions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px; }
  .list-solutions li {
    width: 240px;
    padding-top: 135px;
    text-align: center;
    font-family: Poppins-SemiBold, serif;
    font-size: 2.2rem;
    background-repeat: no-repeat;
    background-position: 50% 0;
    text-transform: uppercase; }
    .list-solutions li:nth-child(1) {
      background-image: url("../images/ic-home-industries-retail.png"); }
    .list-solutions li:nth-child(2) {
      background-image: url("../images/ic-home-industries-iot.png");
      background-position-y: 25px; }
    .list-solutions li:nth-child(3) {
      background-image: url("../images/ic-home-industries-health.png"); }
    .list-solutions li:nth-child(4) {
      background-image: url("../images/ic-home-industries-portal.png");
      background-position-y: 10px; }
    .list-solutions li:nth-child(5) {
      background-image: url("../images/ic-home-industries-education.png");
      background-position-y: 20px; }

.home-news {
  position: relative;
  text-align: center;
  padding: 110px 0;
  background-color: #f8fafc; }
  .home-news .contents-header {
    margin-bottom: 50px; }
    .home-news .contents-header h3 {
      margin-bottom: 10px; }
  .home-news ul {
    display: flex;
    justify-content: center;
    text-align: left; }
  .home-news li {
    width: 370px;
    margin-right: 30px; }
    .home-news li:last-child {
      margin-right: 0; }
    .home-news li .home-news-thumb {
      overflow: hidden;
      width: 370px;
      height: 212px;
      margin-bottom: 32px; }
    .home-news li article {
      padding: 0 30px; }
    .home-news li h4 {
      margin-bottom: 20px;
      font-size: 2.2rem;
      font-family: Poppins-SemiBold, serif;
      line-height: 1.5;
      overflow: hidden;
      display: -webkit-box;
      white-space: normal;
      /*! autoprefixer: off */
      -webkit-line-clamp: 3;
      /*! autoprefixer: on */
      -webkit-box-orient: vertical; }
    .home-news li p {
      overflow: hidden;
      display: -webkit-box;
      white-space: normal;
      /*! autoprefixer: off */
      -webkit-line-clamp: 4;
      /*! autoprefixer: on */
      -webkit-box-orient: vertical;
      line-height: 1.4;
      font-size: 1.8rem; }

.home-contact {
  position: relative;
  padding: 160px 0 80px;
  display: flex;
  justify-content: center;
  background-color: #202a50; }
  .home-contact-form {
    width: 570px;
    margin-right: 160px;
    background: url("../images/bg_contact_form.png") 100% 0 no-repeat; }
    .home-contact-form h3 {
      margin-bottom: 35px;
      font-size: 4.2rem;
      font-family: Poppins-SemiBold, serif;
      color: #fff; }
    .home-contact-form dt {
      margin-bottom: 10px;
      font-size: 1.6rem;
      color: #fff; }
    .home-contact-form input[type='text'],
    .home-contact-form textarea {
      font-size: 1.4rem;
      color: rgba(255, 255, 255, 0.7);
      background-color: rgba(255, 255, 255, 0.1); }
      .home-contact-form input[type='text']::placeholder,
      .home-contact-form textarea::placeholder {
        color: rgba(255, 255, 255, 0.7); }
    .home-contact-form input[type='text'] {
      height: 54px;
      padding: 0 20px; }
    .home-contact-form textarea {
      padding: 20px; }
  .home-contact-profile {
    display: flex;
    margin-bottom: 30px; }
    .home-contact-profile dl {
      flex: 1;
      margin-right: 20px; }
      .home-contact-profile dl:last-child {
        margin-right: 0; }
  .home-contact-question h4 {
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: #fff; }
  .home-contact-question label {
    display: none; }
  .home-contact-question textarea {
    width: 100%;
    margin-top: 15px;
    height: 205px; }
  .home-contact-question .limit-textarea {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #fff;
    font-family: Poppins-Medium, serif; }
  .home-contact-agree {
    position: relative;
    display: flex;
    margin: 0 0 20px 10px;
    padding: 3px 0 0 30px; }
    .home-contact-agree input {
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px; }
    .home-contact-agree label {
      font-size: 1.2rem;
      color: #fff;
      font-family: Poppins-Light, serif; }
      .home-contact-agree label a {
        color: inherit;
        border-bottom: 1px solid #fff; }
  .home-contact-submit {
    position: relative;
    display: flex;
    justify-content: flex-end; }
    .home-contact-submit button {
      position: relative;
      width: 168px;
      height: 49px;
      font-size: 1.6rem;
      font-family: Poppins-Bold, serif;
      background-color: #4ac8f5;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); }
  .home-contact-branches {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 570px;
    padding-bottom: 70px;
    background: url("../images/bg_contact_branches.png") 100% 100% no-repeat; }
    .home-contact-branches h4 {
      width: 100%;
      margin: 70px 0 12px;
      font-size: 2.6rem;
      font-family: Poppins-Bold, serif;
      color: #4ac8f5; }
      .home-contact-branches h4:first-child {
        margin-top: 0; }
    .home-contact-branches dl {
      flex: 1;
      color: #fff; }
    .home-contact-branches dt {
      margin-bottom: 15px;
      font-family: Poppins-SemiBold, serif;
      font-size: 1.8rem; }
    .home-contact-branches dd {
      font-size: 1.6rem; }

.banner-top {
  position: relative; }
  .banner-top > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 678px;
    color: #fff; }
  .banner-top h2 {
    margin-bottom: 30px;
    font-family: Poppins-Medium, serif;
    line-height: 1;
    font-size: 4.8rem; }
  .banner-top p {
    font-family: Poppins-Light, serif;
    text-align: center;
    line-height: 2;
    font-size: 1.8rem; }
  .banner-top.banner-expert {
    background: #212b4f url("../images/banner_expertise.svg") 50% 50% no-repeat; }
  .banner-top.banner-work {
    background: #212b4f url("../images/banner_works.svg") 50% 50% no-repeat; }
  .banner-top.banner-about {
    background: #212b4f url("../images/banner_about.svg") 50% 50% no-repeat; }

.expertise {
  position: relative;
  padding: 110px 0; }
  .expertise-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }

.detail-service {
  position: relative;
  margin-top: 220px; }
  .detail-service dl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 1335px;
    height: 770px;
    margin: 0 auto 220px;
    background-position: 100% 0;
    background-repeat: no-repeat; }
    .detail-service dl:nth-child(even) {
      background-position: 0 0;
      padding-left: 900px; }
    .detail-service dl:last-child {
      margin-bottom: 0; }
    .detail-service dl:nth-child(1) {
      background-image: url("../images/bg_service_device.svg");
      background-size: 880px 770px; }
    .detail-service dl:nth-child(2) {
      background-image: url("../images/bg_service_cloud.svg"); }
    .detail-service dl:nth-child(3) {
      background-image: url("../images/bg_service_software.svg"); }
    .detail-service dl:nth-child(4) {
      background-image: url("../images/bg_service_meta.svg"); }
  .detail-service dt {
    margin-bottom: 50px;
    font-family: Poppins-SemiBold, serif;
    font-size: 4.2rem;
    line-height: 1.5; }
  .detail-service dd {
    font-size: 2.2rem;
    line-height: 1.5; }

.work-solutions {
  position: relative;
  height: 715px;
  padding-top: 110px;
  text-align: center; }

.detail-solutions {
  padding: 130px 0 210px;
  background: url("../images/bg_pattern_solutions.png") 0 460px no-repeat; }
  .detail-solutions.bgc {
    background-color: #f8fafc; }
  .detail-solutions-inner {
    position: relative;
    width: 1200px;
    margin: 0 auto; }
  .detail-solutions .detail-solutions-detail {
    display: flex;
    justify-content: space-between; }
  .detail-solutions h4 {
    position: relative;
    padding-left: 35px;
    margin-bottom: 42px;
    font-family: Poppins-SemiBold, serif;
    font-size: 4.2rem;
    background: url("../images/bu_sub_title.png") 0 50% no-repeat; }
  .detail-solutions p {
    height: 320px;
    font-size: 2.2rem;
    line-height: 1.6; }
  .detail-solutions ul {
    position: absolute;
    top: 105px;
    left: 700px; }
  .detail-solutions li {
    position: relative;
    padding-left: 18px;
    margin-bottom: 10px;
    font-size: 2rem;
    line-height: 1.5;
    color: #143654; }
    .detail-solutions li::before {
      content: '';
      position: absolute;
      top: 12px;
      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #143654; }
  .detail-solutions dl {
    width: 338px;
    margin-top: 13px; }
  .detail-solutions dt {
    margin-bottom: 12px;
    font-family: Poppins-SemiBold, serif;
    font-size: 1.8rem; }
  .detail-solutions dd {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #8d8d8d; }
  .detail-solutions-thumb {
    overflow: hidden;
    width: 338px;
    height: 412px; }

.contents-header {
  position: relative;
  margin-bottom: 150px; }
  .contents-header h3 {
    margin-bottom: 30px;
    font-family: Poppins-SemiBold, serif;
    font-size: 4.2rem;
    line-height: 1.5; }
  .contents-header p {
    font-size: 1.8rem;
    line-height: 2; }

.about-us {
  position: relative;
  text-align: center;
  padding: 110px 0; }
  .about-us .about-result {
    display: flex;
    justify-content: center; }
    .about-us .about-result dl {
      width: 220px;
      margin: 0 30px; }
    .about-us .about-result dt {
      font-family: Poppins-Bold, serif;
      font-size: 8.4rem;
      line-height: 2; }
    .about-us .about-result dd {
      font-family: Poppins-SemiBold, serif;
      font-size: 2.2rem;
      line-height: 1.5; }

.about-different {
  position: relative;
  padding: 220px 0;
  text-align: center; }
  .about-different .contents-header {
    margin-bottom: 15px; }
  .about-different-detail {
    display: flex;
    justify-content: center;
    margin-top: 100px; }
    .about-different-detail dl {
      margin-right: 113px; }
      .about-different-detail dl:last-child {
        margin-right: 0; }
    .about-different-detail dt {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70px;
      margin-bottom: 20px;
      font-size: 2.2rem;
      line-height: 1.5;
      font-family: Poppins-SemiBold, serif; }
    .about-different-detail dd {
      font-size: 1.6rem;
      line-height: 1.8;
      font-family: Poppins-Medium, serif; }

.about-value {
  position: relative;
  text-align: center;
  padding-bottom: 220px; }
  .about-value .contents-header {
    margin-bottom: 40px; }
  .about-value-detail {
    display: flex;
    justify-content: center;
    margin-top: 80px; }
    .about-value-detail dl {
      width: 330px;
      margin-right: 70px; }
      .about-value-detail dl:last-child {
        margin-right: 0; }
    .about-value-detail dt {
      font-family: Poppins-Bold, serif;
      font-size: 2rem;
      line-height: 1.5; }
    .about-value-detail dd {
      font-family: Poppins-Medium, serif;
      font-size: 1.6rem;
      line-height: 2; }

.about-location {
  padding: 220px 0;
  text-align: center;
  background: #F8FAFC; }
  .about-location .contents-header {
    margin-bottom: 60px; }
  .about-location-thumb {
    margin-bottom: 100px; }
  .about-location article {
    display: flex;
    justify-content: center; }
    .about-location article dl {
      width: 350px;
      height: 206px;
      margin: 0 205px 85px 0;
      text-align: left; }
      .about-location article dl:last-child {
        margin-right: 0; }
    .about-location article dt {
      margin-bottom: 10px;
      font-family: Poppins-Bold, serif;
      color: #4ac8f5;
      font-size: 2.6rem;
      line-height: 1.5; }
    .about-location article dd {
      font-size: 1.6rem;
      line-height: 1.5; }
      .about-location article dd em {
        display: block;
        font-size: 1.8rem;
        margin-bottom: 10px;
        font-family: Poppins-SemiBold, serif; }
