@charset "utf-8";

@import 'config';

*,
::before,
::after {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select,
a {
    margin: 0;
    padding: 0;
}
body,
table,
input,
textarea,
button,
select {
    font: {
        size: 1rem;
        family: 'Roboto', 'Noto Sans KR', 'sans-serif';
    }
    line-height: normal;
    color: $text-color;
}
body {
    -webkit-text-size-adjust: none;
    background-color: #000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img,
fieldset,
button {
    border: 0;
}
input,
textarea,
img {
    vertical-align: top;
}
button {
    cursor: pointer;
    background: 0;
}
textarea {
    overflow: auto;
    resize: none;
}
strong {
    font-weight: normal;
}
input {
    border: none;
    outline: none;
    -webkit-appearance: none;
}
input[type='text'],
input[type='password'],
input[type='number'],
input[type='tel']{
    position: relative;
    height: 78px;
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
    color: $text-color-dim;
    border-radius: 12px;
    background-color: $input-field-color;
    caret-color: transparent;
    &::placeholder {
        color: $text-color-dim;
    }
}
h1,
h2,
h3,
h4,
h5 {
    font: {
        weight: normal;
        size: inherit;
    }
}
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
ul,
ol {
    list-style: none;
}
em,
address {
    font-style: normal;
}
a {
    outline: none;
    text-decoration: none;
    color: $text-color;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}
hr,
caption,
legend {
    display: none;
}
