@import 'config';

#wrap {
    overflow: hidden;
    position: relative;
}
#main-header {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100;
    height: 80px;
    background-color: #020A27;
    .main-header-mask {
        opacity: 0;
        transition: opacity .3s ease-in-out;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: rgba(#020A27, 0.7);
        &.active {
            opacity: 1;
        }
    }
    h1 {
        position: relative;
        width: 127px;
        height: 24px;
        margin: auto 80px auto 0;
        background: url('../images/logo.png');
        background-size: cover;
        @include ir;
    }
    > ul {
        display: flex;
        position: relative;
        > li {
            margin-right: 85px;
            &:last-child {
                margin-right: 0;
            }
            &.depth {
                position: relative;
                padding-right: 24px;
                background: url('../images/bu_gnb_dropdown.png') 100% 50% no-repeat;
                &.focus {
                    background-image: url('../images/bu_gnb_dropdown_focus.png');
                }
                ul {
                    opacity: 0;
                    display: flex;
                    transition: opacity .3s ease-in-out;
                    align-items: center;
                    position: absolute;
                    top: 80px;
                    left: 0;
                    white-space: pre;
                    &.active {
                        opacity: 1;
                    }
                }
                li {
                    height: 50px;
                    margin-right: 40px;
                    &:last-child {
                        margin-right: 0;
                    }
                    &.focus {
                        a {
                            @include font-medium;
                        }
                    }
                }
                &:hover {
                    ul {
                        opacity: 1;
                    }
                }
            }
        }
    }
    a {
        display: flex;
        align-items: center;
        height: 100%;
        color: #C2C1C0;
        @include font-light;
        font-size: 16px;
    }
    .focus {
        & > a {
            @include font-semi-bold;
            color: $color-text-highlight;
        }
    }
}
#contents {
    position: relative;
}
footer {
    display: flex;
    justify-content: center;
    padding: 130px 0 120px;
    color: #fff;
    background-color: #020A27;
    a {
        color: #fff;
    }
    > dl {
        margin-right: 85px;
        &:last-child {
            margin-right: 0;
        }
        dt {
            margin-bottom: 12px;
            @include font-semi-bold;
            font-size: 1.8rem;
            color: $color-text-highlight;
        }
        dd {
            margin-bottom: 20px;
            @include font-medium;
            font-size: 14px;
            &:last-child {
                margin-bottom: 0;
            }
            em {
                @include font-bold;
            }
        }
    }
    .footer-contact {
        position: relative;
        margin-left: 120px;
        text-align: right;
        dl {
            margin-top: 50px;
        }
        dt {
            margin-bottom: 8px;
            @include font-semi-bold;
            font-size: 1.8rem;
            color: $color-text-highlight;
        }
        dd {
            margin-bottom: 10px;
            font-size: 16px;
            @include font-medium;
            &:last-child {
                margin-top: 40px;
                font-size: 13px;
                @include font-light;
            }
        }
    }
}
.position-top {
    position: absolute;
    bottom: 80px;
    right: 50%;
    width: 70px;
    height: 83px;
    margin-right: -650px;
    @include ir;
    background-image: url('../images/btn_top.png');
}